.mb-32{
    margin-bottom: 32px;
}  

.mb-80{
    margin-bottom: 80px;
}

  
  .grid-card {
    width: 208px; /* عرض ثابت للبطاقة */
    height: auto;
    margin: 0 auto; /* مركزية */
  }
/* .items-page-content{
    padding: 0 100px !important;
} */

.grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
  
  @media (max-width: 1365px) {
    .grid-cols-4 {
        gap: 0.5rem;

      grid-template-columns: repeat(3, minmax(175px, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .grid-cols-4 {
      grid-template-columns: repeat(2, minmax(175px, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .grid-cols-4 {
      grid-template-columns: 1fr; /* بطاقة واحدة في السطر */
    }
  }

@media (max-width: 1439px) {
    .mb-32{
        margin-bottom: 18px;
    }  
    
    .mb-80{
        margin-bottom: 20px;
    }
    
}

@media (max-width: 992px) {

    /* .items-page-content{
        padding: 0 50px !important;
    } */


}