.title-comp h2{
    color: var(--black-color00);
}

@media (max-width: 1439px) {
    .title-comp h2{
        font-size: 18px !important;
    }

    .title-comp p{
        font-size: 14px !important;
    }
}