.form-auth{
    background: linear-gradient(71.17deg, var(--orange00) 19.35%, var(--orange01) 90.12%)
} 

.form-auth-container{
    border: 1px solid var(--grey05) !important;
    box-shadow: 2px 5px 10px 0px #0000001A;
    max-width: 500px !important;
  }


@media (max-width: 1200px) {
    .company-logo{
        height: 30px !important;
        width: 100px !important;
    }
}   